# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
.env.local
.env.*
!.env.example

# Dependencies
node_modules/
vendor/

# Build outputs
dist/
build/
storage/seed-users.json
coverage/

# IDE / Editor settings
.vscode/
.idea/
*.swp
Dockerfile*
docker-compose*.local.yml
